Lab 5/.ipynb_checkpoints/Lab 5- Suyash Srivastava - 22MCS108-checkpoint.ipynb
Lab4/.ipynb_checkpoints/Lab 4 - Clustering -checkpoint.ipynb
Lab4/.ipynb_checkpoints/Lab 4-Suyash Srivastava-22MCS108-checkpoint.ipynb
Lab3/.ipynb_checkpoints/Lab 3-Suyash Srivastava-22MCS108-checkpoint.ipynb
Lab3/.ipynb_checkpoints/lab 4-checkpoint.ipynb
